# Default ignored files
/shelf/
/workspace.xml

#environments
.env
.venv
env/
venv/
ENV/
env.bak/
venv.bak/

#Google Cloud Client ID
credentials.json
serviceaccount_auto_auth.json

#the token pickle thing
token.pickle

#Oracle Cloud private key
ssh-key-2024-07-25.key
.key

# requirements file (includes all required libraries to install)
requirements.txt
